/* *is used for all propertys that are not specified in the other files */

* {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  margin:0;
  color:azure;
  /*we can't overflow(scroll) for 3  div section so initially we set it as hidden */
  overflow: hidden;
}

.main{
    display: flex;
    height: 100vh;     /* 100% of the viewport height */
    padding: 0.5rem;
}

.sidebar{
    background-color: #000000;
    width: 340px;
    border-radius: 1rem;
    padding: 0 0.5rem 0 0;

}

.music-player{
    background-color: #121212;
    flex:1; /* 1 means it will take the remaining space */
}

.main-content{
    background-color: #121212;
   position:fixed; /* fixed means its position will always be fixed */
   bottom: 0; /* 0 means it will be at the bottom of the page */
   width: 100%; /* 100% means it will take the full width of the page */
   height: 72px;
   border-radius: 1rem;
   overflow: auto;/* auto means it will scroll if the content is too long */

}

a{
    /* wherever we use a tag we will use this style */
    text-decoration: none;   /*remove the underline from the text */
    color: rgb(239, 245, 245);
} 

.nav{
    background-color: #121212;
    border-radius: 1rem; 
    display: flex; /* flex will make the items inside the div to be in a row */
    flex-direction: column; /* flex-direction will make the items inside the div to be in a column */
    justify-content: center ;
    height: 100px;
    padding: 0.5rem 0.75rem;
} 

.nav-option{
     background-color: #121212;
    line-height: 2.5rem;
    opacity:0.7;
    padding: 8px;
}

.nav-option:hover{ /* :hover means when we hover over the element */
    opacity:1;
}

.nav-option i{  /* i means the icon */
    font-size: 1.25rem 0.75rem; 
}

.nav-option a{
     background-color: #121212;
    font-size:1rem;
    margin-left: 1rem;
}

.library{
     background-color: #121212;
     border-radius: 1rem;
     height: 100%;
     margin-top:0.5rem;
     padding: 0.5rem 0.75rem;
}

.options{
     background-color: #121212;
    display: flex;
    justify-content: space-between; /* space-between will make the items inside the div to be in a row and space them out */
}

.icons{
    font-size: 1rem;
   margin-top:0.5rem;
     padding: 0.5rem 0.75rem;
    display: flex;
}

.icons i{
opacity: 0.7;
    margin-right: 1rem;
}

.icons i:hover{
    opacity:1;

}

.box{
    background-color: #232323;
    height: 8rem;
    border-radius: 0.75rem;
    margin: 0.5rem 0 0.5rem 0;
    padding:1 rem 1.25 rem;
}

.box-p1{
    font-size: 1rem;
    margin: 0.75rem 0 0 0.75rem;
}

.box-p2{
    font-size: 0.75rem;
    opacity: 0.75;
    margin: 0.4rem 0 0 0.75rem;

}

.badge{
    background-color: white;
    border: none;
    border-radius:100px ;
    padding:0.25rem 1rem;
    font-weight: 0.5rem;
    margin: 0.75rem 0 0 0.75rem;
    height: 2rem;
    width: fit-content;

}

.box2{
    margin-top: 0.85rem;
}